<form asp-actionaction="Index">
    <label for="">FullName</label>
    <input type="text" name="fName" placeholder="nhap fullName"/>
    <input type="email" name="Email" placeholder="nahp Email"/>
    <input type="submit" value="Save"/>
</form>
<h1>@ViewBag.thongbao</h1>