<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PtBac2</title>
</head>
<body>
    <h1>Giai phuong trinh bac 2:</h1>
    @model GiaiPtBac2
    <form asp-action="IndexPtBac2">
        a : <input type="text" name="a" placeholder="a">
        b : <input type="text" name="b" placeholder="b">
        c : <input type="text" name="c" placeholder="c">
        <input type="submit" name="Bang" value="Bang">
    </form>
    @if(ViewData["Result"] != null  )
    {
        <div>
            <p>@ViewData["Result"]</p>
        </div>
    }
</body>
</html>