<form asp-action ="IndexPerson" >
    <p>      
    <label><b>PersonID:</b></label>
    <input name="PersonID" type="text"></p>
    <p>      
    <label><b>FullName:</b></label>
    <input  type="text" name="FullName"></p>
    <p>
    <button >Send</button></p>
  </form>
 <h1>@ViewBag.capnhat</h1>