<form asp-action ="IndexPerson" >
    <p>      
    <label><b>Nhập PersonID:</b></label>
    <input name="PersonID" type="text"></p>
    <p>      
    <label><b>Nhập họ tên: </b></label>
    <input  type="text" name="FullName"></p>
    <p>
    <label>Nhập địa chỉ: </label>
    <input type="text" name="Address">
    <input type="submit" value="Gửi dữ liệu">
  </form>
 <h1>Dữ liệu từ Controller gửi về là: @ViewBag.capnhat</h1>